@import "tailwindcss";
@layer base {
  body {
    background: #eaf6fb;
    color: #002b5b;
    font-family: "Montserrat", sans-serif;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}
